body {
    text-align: center;
    margin: 20px;
    background-color: rgb(208, 217, 233);

}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: rgb(59, 56, 56);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

form > input {
    display: block;
}

form > button {
    text-align:left;
}

#updateInfo {
    border-left-color: blue ;
}

#form {

    width: 800px;
    height: 200px;
    margin: 0 auto;
}

#getAllByOutput {
    margin: 30px;
    margin-bottom: 40px;
    background-color: rgb(18, 61, 139);
}
